body{
     background-color: grey;
}
.conter {
     position: fixed;
     bottom: 0;
}
.btn-t, .btn-g, .btn-p{
     display: block;
     text-align: center;
     background: #039be5;
     text-transform: uppercase;
     text-decoration: none;
     width: 50%;
     margin: auto;
     padding: 16px;
     cursor: pointer;
     border: 2px double blue;
     border-radius:5px;
     /*bottom:0;*/
}
.stuts{
     text-align: center;
}
